.difficulty-nav {
    display: flex;
    gap: 15px;
    margin: 20px 0;
    font-size: 25px;
    justify-content: center;

}

.difficulty-nav span {
    cursor: pointer;
    color: rgb(219, 145, 7);
    text-decoration: none;
    padding: 5px;
    transition: color 0.3s;
}

.difficulty-nav span:hover {
    color: orange;
}

.difficulty-nav .active {
    font-weight: bold;
    color: orange;
    border-bottom: 2px solid orange;
}